@if $force_mobile_alignment == "true" {
  .category-header div[class^="category-title-header"] {
    text-align: center;
  }

  .category-header-widget .category-logo,
  .category-header-widget .category-logo > img,
  .category-header-widget .category-logo .category-logo-img {
    float: none;
    max-width: 100%;
    margin: 0 0 0.25em 0;
  }
}
